@font-face {
  font-family: "Calypso";
  src: url("../fonts/Calypso.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--border-color);
}

input[type="checkbox"] {
  width: 30px;
  background-color: #b0206b;
  border: none;
}

:root {
  /* Светлая тема (по умолчанию) */
  --bg-color: #fff8f0;
  --text-color: #410e28;
  --header-bg: #fff;
  --card-bg: #fff;
  --button-bg: #d587af;
  --button-text: #fff;
  --border-color: #410e28;
  --chekbox: #edc6d1;
}

[data-theme="dark"] {
  /* Тёмная тема */
  --bg-color: #5d4a58;
  --text-color: #fbf5f8;
  --header-bg: #806868;
  --card-bg: #806868;
  --button-bg: #602e47;
  --button-text: #fbf5f8;
  --border-color: #fbf5f8;
  --chekbox: #bea4b2;
}

[data-theme-image] {
  transition: opacity 0.3s ease;
}


.container {
  margin-top: 60px;
}

.policy_container {
  margin-bottom: 150px;
}

.link {
  font-size: 15px;
}

.policy_title {
  font-size: 2.4vw;
  margin-top: 100px;
}

.container_whatData,
.container_howUse {
  margin-bottom: 80px;
}

.container_pounds_title {
  font-size: 25px;
  margin-bottom: 30px;
}

.privacy-section__title {
  margin-bottom: 0;
}

.point_1-1,
.point_1-2,
.point_1-3 {
  font-size: 17px;
}

.privacy-section__description {
  margin: 0;
}


/* адаптив */
@media (max-width: 1100px) {
  .container_pounds_title {
    font-size: 20px;
  }

  .point_1-1,
  .point_1-2,
  .point_1-3 {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .link {
    font-size: 13px;
  }

  .policy_title {
    font-size: 2.9vw;
  }

  .container_pounds_title {
    font-size: 18px;
  }

  .point_1-1,
  .point_1-2,
  .point_1-3 {
    font-size: 13px;
  }
}

@media (max-width: 700px) {

  .policy_title {
    font-size: 3.4vw;
    margin-bottom: 30px;
  }

  .container_pounds_title {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .point_1-1,
  .point_1-2,
  .point_1-3 {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .link {
    font-size: 12px;
  }

  .policy_title {
    font-size: 3.7vw;
  }

  .container_pounds_title {
    font-size: 17px;
  }

  .container_howUse p {
    font-size: 15px;
  }

  .point_1-1,
  .point_1-2,
  .point_1-3 {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .policy_title {
    font-size: 4.0vw;
  }
}

@media (max-width: 420px) {
  .policy_title {
    font-size: 4.4vw;
  }

  .container_pounds_title {
    font-size: 15px;
  }

  .container_howUse p {
    font-size: 12px;
  }

  .point_1-1,
  .point_1-2,
  .point_1-3 {
    font-size: 12px;
  }
}