@font-face {
  font-family: "Calypso";
  src: url("../fonts/Calypso.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

html {
  overflow-x: hidden;
}
body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
hr {
  height: 1px;
  background-color: var(--border-color);
}
input[type="checkbox"] {
  width: 30px;
  background-color: #b0206b;
  border: none;
}

:root {
  /* Светлая тема (по умолчанию) */
  --bg-color: #fff8f0;
  --text-color: #410e28;
  --header-bg: #fff;
  --card-bg: #fff;
  --button-bg: #d587af;
  --button-text: #fff;
  --border-color: #410e28;
  --chekbox: #edc6d1;
}

[data-theme="dark"] {
  /* Тёмная тема */
  --bg-color: #5d4a58;
  --text-color: #fbf5f8;
  --header-bg: #806868;
  --card-bg: #806868;
  --button-bg: #602e47;
  --button-text: #fbf5f8;
  --border-color: #fbf5f8;
  --chekbox: #bea4b2;
}

[data-theme-image] {
  transition: opacity 0.3s ease;
}

/*               section header             */

.header {
  background-color: var(--header-bg);
  width: 100vw; /* Занимает всю ширину viewport */
  position: relative;
  left: 50%; /* Смещаем влево на 50% от viewport */
  transform: translateX(-50%); /* Корректируем положение */
  padding: 10px 0 3px;
}

.header_content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header_logo {
  max-width: 70px;
}
.header_logo_img {
  max-width: 100%;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}
.header_nav_tema {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--header-bg);
  max-width: 35px;
  cursor: pointer;
}
.header_nav_tema_img {
  max-width: 100%;
}
/*               section header             */


.container{
    margin-top: 60px;
}
.link{
    font-size: 15px;
}
.policy_title{
    font-size: 2.4vw;
    margin-top: 100px;
    /* font-size: 35px; */
}
.container_whatData{
    margin-bottom: 80px;
}
.container_pounds_title{
    font-size: 25px;
    margin-bottom: 30px;
}
.privacy-section__title{
    margin-bottom: 0;
}
.point_1-1, .point_1-2, .point_1-3{
    font-size: 17px;
    
}
.privacy-section__description{
    margin: 0;
}

/*               footer             */
.footer {
  background-color: var(--header-bg);
  width: 100vw; /* Занимает всю ширину viewport */
  position: relative;
  left: 50%; /* Смещаем влево на 50% от viewport */
  transform: translateX(-50%);
  padding: 60px 0;
}
.footer_content {
  max-width: 1440px;
  margin: 0 auto;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  width: 162px;
}
.footer_logo_img {
  width: 100%;
}
.footer_cataloge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  text-align: center;
  font-size: 20px;
}

.footer_info {
  display: grid;
  text-align: right;
  row-gap: 5px;
}
.footer_phone {
  font-size: 20px;
  margin: 0;
}
.footer_email {
  font-size: 16px;
  margin: 0;
}
.footer_social {
  display: flex;
}
.footer_social_img {
  width: 50px;
  margin-left: 10px;
}
