@font-face {
  font-family: "Calypso";
  src: url("../fonts/Calypso.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--border-color);
}

input[type="checkbox"] {
  width: 30px;
  background-color: #b0206b;
  border: none;
}

:root {
  /* Светлая тема (по умолчанию) */
  --bg-color: #fff8f0;
  --text-color: #410e28;
  --header-bg: #fff;
  --card-bg: #fff;
  --button-bg: #d587af;
  --button-text: #fff;
  --border-color: #410e28;
  --chekbox: #edc6d1;
}

[data-theme="dark"] {
  /* Тёмная тема */
  --bg-color: #5d4a58;
  --text-color: #fbf5f8;
  --header-bg: #806868;
  --card-bg: #806868;
  --button-bg: #602e47;
  --button-text: #fbf5f8;
  --border-color: #fbf5f8;
  --chekbox: #bea4b2;
}

[data-theme-image] {
  transition: opacity 0.3s ease;
}

/* Добавьте эти стили в ваш CSS файл */

/* Общие стили для изображений с темой */
[data-theme-image] {
  transition: opacity 0.3s ease;
  position: relative;
}

/* Светлая версия изображения (по умолчанию) */
[data-theme-image]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--light-image);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
}

/* Темная версия изображения */
[data-theme-image]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--dark-image);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

/* При темной теме показываем темное изображение */
[data-theme="dark"] [data-theme-image]::before {
  opacity: 0;
}

[data-theme="dark"] [data-theme-image]::after {
  opacity: 1;
}

/* Скрываем оригинальный тег img */
[data-theme-image] img {
  opacity: 0;
  width: 100%;
  height: auto;
}

/*               section banner             */
.banner {
  margin: 0 0 150px;
}
.banner_image {
  width: 100vw;
  /* Занимает всю ширину viewport */
  position: relative;
  left: 50%;
  /* Смещаем влево на 50% от viewport */
  transform: translateX(-50%);
  /* Корректируем положение */
}

.banner_image_img {
  width: 100%;
  display: block;
  /* Убирает лишние отступы у img */
}

.banner_text {
  color: #410e28;
  position: absolute;
  top: 10%;
  font-size: 2.8vw;
  font-family: "Calypso";
  max-width: 700px;
  line-height: 1.7;
  padding-left: 10px;
  z-index: 10;
}
/*               section banner             */

/*               section name_user             */
.name_user {
  margin: 0 0 80px;
}
.name_user_h1 {
  font-size: 42px;
  font-family: "Calypso";
  font-weight: 400;
  text-align: center;
}
/*               section name_user             */

/*               div search             */
.search {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between; /* элемент .find к левому краю, .blog к правому */
}
.find {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* flex-wrap: wrap; */
}
.search_inp {
  flex: 1 1 200px;
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-color);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  color: var(--text-color);
}
.search_inp:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.search_btn {
  flex: 0 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  height: 40px;
  width: 100%;
  max-width: 250px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 12px;
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 0.3s;
}
.search_btn:hover {
  background-color: #c17099;
}

.blog {
  margin: 0 0 30px;
  width: auto; /* можно auto, чтобы подогнать по кнопке */
  margin-left: auto; /* прижимает к правому краю */
  display: flex;
  align-items: center;
}

.blog_btn {
  flex: 0 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  height: 40px;
  width: 100%;
  width: 100px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 12px;
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 0.3s;
}
.blog_btn:hover {
  background-color: #c17099;
}


/*                   section catalog            */
.catalog {
  margin: 100px 0 150px 0;
  width: 100%;
}
.recipes_cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s ease;
  margin-bottom: 60px;
}
.recipes_card{
  max-width: 271px;
  min-width: 271px;
  padding: 28px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);

  /* flex: 1 0 calc(20% - 20px);  */
  transition: all 0.5s ease;
  box-sizing: border-box;
  transform: scale(0.98);
  transition: transform 0.3s ease;
  animation: card-appear 0.5s ease forwards;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.recipes_card:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.recipes_image{
  max-width: 220px;
}
.recipes_image_img{
  width: 100%;
}

.recipes_title {
  font-size: 28px;
  font-family: "Calypso";
  font-weight: 300;
  text-align: center;
  margin: 0 0 20px 0;
}
.recipes_info p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.recipes_calory {
  margin: 20px 0 0 0;
}
.recipes_category {
  margin: 0 0 25px 0;
}
.recipes_btn {
  text-align: right;
  font-size: 16px;
  text-decoration: underline;
  margin: 0 0 0 auto;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  height: 35px;
  width: 100px;
  background-color: var(--card-bg);
  border: none;
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 0.3s; 
}  
/* .recipes_btn:hover {
  background-color: #c17099; 
} */

.recipes_more{
  margin: 0 auto 0 auto;
  justify-content: center;
  text-align: center;
}
.recipes_more_btn {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  height: 40px;
  width: 240px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 12px;
  color: var(--button-text);
  cursor: pointer;
  transition: background-color 0.3s; 
}  
.recipes_more_btn:hover {
  background-color: #c17099; 
}

/*                   section catalog            */


 /*               section review             */
 .review{
  margin: 0 0 150px  ;
}
.review_info{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto 30px auto;
}
.review_quantity{
  font-size: 30px;
}
.review_title{
  margin:0;
}
.catalog_title{
  font-size: 2.6vw;
  font-family: "Calypso";
  font-weight: 300;
  margin: 0;
}
.review_content{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.review_box{
  max-width: 650px;
  background-color: var(--card-bg);
  padding: 20px 25px 30px 20px;
  transition: all 0.5s ease;
  box-sizing: border-box;
  transform: scale(0.98);
  transition: transform 0.3s ease;
  flex: 1 0 calc(50% - 20px);
  opacity: 1;
}
.review_box.hidden {
  opacity: 0;
  transform: scale(0.98);
}
.review_box.ban {
  order: -1; /* Перемещаем в начало */
}
.review_box_info{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.review_recipe{
  cursor: pointer;
  text-decoration: underline;
}
.review_box_text{
  font-size: 22px;
}
.review_box_text_ban{
  font-size: 22px;
  margin: 0 0 15px 0;
  color: #e25858;
}
.review_btn {
  margin-left: auto;
  display: block;
  font-size: 16px;
  text-decoration: underline;
  margin: 0 0 0 auto;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  background-color: var(--card-bg);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s; 
}
.review_more{
  margin: 60px auto 0 auto;
  text-align: center;
}
.review_more_btn {
  font-size: 18px;
  margin: 0 auto 0 auto;
  font-weight: 500;
  font-family: "Rounded Mplus 1c";
  height: 45px;
  width: 220px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 12px;
  color: var(--button-text);
  cursor: pointer;
} 

/*               section review             */

/*               section confirm-modal             */
.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.confirm-modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.confirm-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.confirm-modal-buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--button-text);
}
.confirm-cancel {
  background-color: var(--button-bg);
}
.confirm-delete {
  background-color: #e25858;
  
}

/*               section confirm-modal             */




/*                    Адаптив            */
@media (max-width: 1500px) {
.banner_text {
    top: 7%;
    padding-left: 20px;
}
}

@media (max-width: 1300px) {
  body {
    padding: 0 30px;
  }

  /*     section catalog   */
  .recipes_cards {
    gap: 15px;
}
.recipes_card {
  width: 280px;
  min-width: 260px;
}
/*     section catalog   */
}

@media (max-width: 1100px) {
  .banner_text {
    top: 5%;
}
}

@media (max-width: 1000px) {
  /*     section catalog   */
  .recipes_card {
    width: 250px;
  min-width: 220px;
    padding: 22px 14px;
    flex: 1 0 calc(33% - 20px);
}
.recipes_title {
  font-size: 25px;
}
.recipes_info p {
  font-size: 12px;
}
.recipes_btn {
  font-size: 14px;
  height: 32px;
  width: 80px;
}
/*     section catalog   */

/*     section review    */
.catalog_title {
  font-size: 3.4vw;
}
.review_quantity {
  font-size: 27px;
} 
.review_box_info {
  font-size: 16px;
}
.review_box_text {
  font-size: 18px;
}
.review_box_text_ban {
  font-size: 18px;
}
.review_more_btn {
  font-size: 16px;
  height: 40px;
  width: 200px;
}
/*     section review    */
}

/* Обновленный медиазапрос для 900px */
@media (max-width: 900px) {
  /*               section banner             */
  .banner_text {
    top: 4%;
    font-size: 3.5vw;
  }
  /*               section banner             */

  /*               section search             */
  .find {
    gap: 20px;
  }
  .search_btn {
    font-size: 16px;
    height: 40px;
    width: 100%;
    max-width: 200px;
  }
  /*               section search             */

  /*     section catalog   */
  .recipes_more_btn {
    font-size: 15px;
    height: 38px;
    width: 200px;
    border-radius: 10px;
  } 
  /*     section catalog   */

  /*     section review    */
  .review{
    margin: 0 0 100px  0;
  }
  .catalog_title{
    font-size: 3.7vw;
}
.review_quantity {
  font-size: 24px;
}
.review_box_info {
  font-size: 13px;
}
.review_box_text {
  font-size: 15px;
}
.review_box_text_ban {
  font-size: 15px;
}
.review_more_btn {
  font-size: 14px;
  height: 37px;
  width: 170px;
}
.review_more {
  margin: 40px auto 0 auto;
}
/*     section review    */
}

@media (max-width: 700px) {
  .banner_text {
    top: 3%;
    font-size: 3.9vw;
  }

  /*               section name_user             */
  .name_user {
    margin: 0 0 40px;
  }
  .name_user_h1 {
    font-size: 32px;
  }
  /*               section name_user             */

  /*               section search             */
  .search_btn {
    display: block;
    max-width: 50px;
    min-width: 30px;
    height: 30px;
    font-size: 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog_btn {
    flex: 0 0 auto;
    font-size: 16px;
    height: 30px;
    width: 100%;
    width: 100px;
  }
  .search_inp {
    font-size: 16px;
  }
  /*               section search             */

 /*     section catalog   */
  .recipes_card {
    width: 250px;
    min-width: 190px;
    padding: 18px 17px;
    flex: 1 0 calc(50% - 20px);
}
.recipes_more_btn {
  font-size: 12px;
  height: 34px;
  width: 140px;
}
 /*     section catalog   */

/*     section review    */
.review_box {
  max-width: 570px;
  padding: 20px;
}
.catalog_title {
  font-size: 4.2vw;
}
 .review_quantity {
  font-size: 20px;
}
.review_content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.review_btn {
  font-size: 14px;
}
.review_more_btn {
  font-size: 12px;
  height: 34px;
  width: 140px;
}
/*     section review    */

/*      section confirm-modal         */
.confirm-modal-content {
  padding: 15px;
  max-width: 280px;
}
.confirm-modal-content p{
  font-size: 14px;
}
.confirm-modal-buttons {
  gap: 20px;
}
.confirm-modal-buttons button {
  font-size: 12px;
}
/*      section confirm-modal        */
}


@media (max-width: 600px) {
  /*               section banner             */
  .banner_image_img {
    width: 130%;
    display: block;
  }

  .banner_image {
    left: 20%;
  }
  /*               section banner             */

  /*     section review    */
  .review_more {
    margin: 30px auto 0 auto;
  }
  /*     section review    */
}


@media (max-width: 500px) {
/*     section search        */
  .search {
    margin-bottom: 50px;
}
/*      section search     */

 /*     section catalog   */
 .catalog {
  margin: 50px 0 130px 0;
  width: 100%;
}
 .recipes_card {
  max-width: 201px;
  width: 220px;
  min-width: 150px;
  flex: 1 0 calc(50% - 20px);
}
.recipes_title {
  font-size: 22px;
}
.recipes_info{
margin-top: 5px;
}
.recipes_info p {
  font-size: 11px;
}
.recipes_btn {
  font-size: 12px;
  height: 26px;
  width: 60px;
  margin-top: 6px;
}
.recipes_cards {
  margin-bottom: 40px;
  gap: 10px;
}
/*     section catalog   */

  /*     section review    */
  .catalog_title {
    font-size: 5.4vw;
}
.review_quantity {
  font-size: 18px;
}
.review_info {
  margin: 0 auto 20px auto;
}
.review_box_info {
  font-size: 12px;
}
.review_box_text {
  font-size: 13px;
}
.review_box_text_ban {
  font-size: 13px;
}
.review_btn {
  font-size: 13px;
}
  /*     section review    */
}

@media (max-width: 450px) {
  /*               section banner             */
  .banner {
    margin: 0 0 80px;
}
  .banner_image_img {
    width: 130%;
    display: block;
  }

  .banner_image {
    left: 20%;
  }

  .banner_text {
    top: 3%;
    font-size: 4.2vw;
    line-height: 1.7;
    padding-left: 0px;
  }
  /*               section banner             */

  /*               section name_user             */
  .name_user {
    margin: 0 0 40px;
  }
  .name_user_h1 {
    font-size: 25px;
    margin: 0;
  }
  /*               section name_user             */
  .find {
    gap: 5px;
}
  .search {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
  }
  .search_btn {
    display: block;
    max-width: 30px;
    min-width: 30px;
    height: 25px;
    border-radius: 9px;
}
.blog_btn {
    font-size: 13px;
    height: 25px;
    height: 25px;
    width: 100%;
    width: 50px;
    border-radius: 9px;
}

/*     section catalog   */
.search {
  margin-bottom: 30px;
}
.catalog {
  margin: 30px 0 90px 0;
}
.recipes_card {
  max-width: 145px;
  width: 180px;
  min-width: 120px;
  padding: 14px 14px;
  flex: 1 0 calc(50% - 20px);
}
.recipes_title {
  font-size: 18px;
}
.recipes_info p {
  font-size: 9px;
}
.recipes_image {
  max-width: 130px;
}
.recipes_btn {
  font-size: 10px;
  height: 24px;
}
.recipes_more_btn {
  font-size: 10px;
  height: 30px;
  width: 130px;
  border-radius: 8px;
}
/*     section catalog   */

  /*     section review    */
  .review_box {
    padding: 10px;
}
.review_quantity {
  font-size: 15px;
}
.review_box_info {
  font-size: 11px;
}
.review_box_text {
  font-size: 12px;
}
.review_box_text {
  font-size: 12px;
}
.review_box_text_ban {
  font-size: 12px;
}
.review_more_btn {
  font-size: 10px;
  height: 30px;
  width: 130px;
  border-radius: 8px;
}
  /*     section review    */

  
/*      section confirm-modal         */
.confirm-modal-content {
  padding: 15px;
  max-width: 250px;
}
.confirm-modal-content p{
  font-size: 12px;
}
.confirm-modal-buttons button {
  font-size: 11px;
}
/*      section confirm-modal        */
}

/*                    Адаптив            */
