<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <div id="authModal" class="modal">
        <div class="modal-content">
            <form class="modal_form" action="">
                <h1 class="title">Регистрация</h1>
                <input class="input" type="text" placeholder="Имя">
                <input class="input" type="email" placeholder="Почта">
                <input class="input" type="password" placeholder="Пароль">
                <input class="input" type="password" placeholder="Повторите пароль">
                <div class="approval">
                    <label class="custom-checkbox">
                        <input type="checkbox" class="approval_inp">
                    </label>
                    <p class="approval_text">Нажимая на кнопку, вы даете согласие на обработку персональных данных и
                        соглашаетесь c политикой конфиденциальности.</p>
                </div>
                <button class="btn">Зарегистрироваться</button>
            </form>
            <p class="akk">Есть аккаунт?<a href="">Авторизируйтесь</a></p>
        </div>
    </div>
</body>

</html>