<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <div id="authModal" class="modal">
        <div class="modal-content">
            <form class="modal_form" action="">
                <h1 class="title">Авторизация</h1>
                <input class="input" type="email" placeholder="Почта">
                <input class="input" type="password" placeholder="Пароль">
                <button class="btn">Войти</button>
            </form>
            <p class="akk">Нет аккаунта?<a href="">Зарегистрируйтесь</a></p>
        </div>
    </div>
</body>

</html>